@model FirstProjectTahalf.Models.ProjectHome

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Create</h1>

<h4>ProjectHome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  style="margin-left:20px" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" style="padding-left:5px !important;" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freeshippinglimit" class="control-label"></label>
                <input asp-for="Freeshippinglimit" class="form-control" />
                <span asp-validation-for="Freeshippinglimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supportworktime" class="control-label"></label>
                <input asp-for="Supportworktime" class="form-control" />
                <span asp-validation-for="Supportworktime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgFileLogo" class="control-label"></label>
                <input asp-for="ImgFileLogo" class="form-control" />
                <span asp-validation-for="ImgFileLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgFileHome" class="control-label"></label>
                <input asp-for="ImgFileHome" class="form-control" />
                <span asp-validation-for="ImgFileHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" >Back to List</a>
</div>

